<?xml version="1.0" encoding="utf-8" ?>
<!--
Copyright (C) 2013-2014 Pavlidis Orestis 
Unauthorized copying of this file, via any medium is strictly prohibited
-->

<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <appSettings>
    <add key="NetworksLocation" value="Networks\"/>
    <add key="NetworksName" value="{NAME}={ID}"/>
    <add key="NetworksExtension" value=".ann"/>
    <add key="FeaturesLocation" value="feats\"/>
    <add key="FeaturesName" value="{NAME}={ID}"/>
    <add key="FeaturesExtension" value=".fs"/>
    <add key="ForgeriesPerTraining" value="9"/>
    <add key="RegisterColumns" value="5"/>
    <add key="RegisterNormalizedWidth" value=""/>
    <add key="ForgeriesLocation" value="forg\"/>
    <add key="ANNTrainEpochs" value="500"/>
    <add key="ForgeriesThreshold" value="0.6"/> <!--non inclusive!-->
    <add key="Codecs" value="All Images|*.BMP;*.DIB;*.RLE;*.JPG;*.JPEG;*.JPE;*.JFIF;*.GIF;*.TIF;*.TIFF;*.PNG|BMP Files: (*.BMP;*.DIB;*.RLE)|*.BMP;*.DIB;*.RLE|JPEG Files: (*.JPG;*.JPEG;*.JPE;*.JFIF)|*.JPG;*.JPEG;*.JPE;*.JFIF|GIF Files: (*.GIF)|*.GIF|TIFF Files: (*.TIF;*.TIFF)|*.TIF;*.TIFF|PNG Files: (*.PNG)|*.PNG|All Files|*.*"/>
  </appSettings>
</configuration>